body{
  font-family: Inter, sans-serif;
  margin: 0 auto;
  background-color: #282812;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
::-webkit-calendar-picker-indicator{
  filter: invert(1);
}
select{
  background-color: #383838;
  color: white;
}
.main{
  margin-left: 60px;
  height: 100vh;
  padding: 50px 10px 10px 10px;
}
.main a{
  text-decoration: none;
}
.main--header{
  text-align: center;
}
.content{
  margin: 40px 20px;
  display: flex;
  flex-direction: row;
  column-gap: 3%;
  flex-wrap: wrap;
  justify-content: center;
}
